<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Nombre del Juego</title>
    <link rel="stylesheet" href="main.css" type="text/css">
</head>

<body>

    <header>
        <div class="header-center">
            <h1>NewGloble 🌎</h1>
        </div>
        <nav aria-label="Menú de usuario">
            <button class="menu-btn" aria-haspopup="true" aria-expanded="false">Mi Cuenta ⌄</button>
            <div class="dropdown-menu" role="menu">
                <a href="#">Perfil</a>
                <a href="#">Configuración</a>
                <a href="#">Cerrar sesión</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="buttons">
            <div class="button-container">
                <button type="button">Modo Diario 🌎 </button>
                <p>Intenta adivinar el pais diario con una cantidad limitada de intento! <br> A medida que gastes
                    intentos, se iran revelando pistas que te ayuden a dar con un el pais.</p>
            </div>
            <div class="button-container">
                <button type="button">Modo Infinito ♾</button>
                <p>Igual al modo diario, pero sin el sistema de pistas.</p>
            </div>
        </section>
    </main>

    <footer>
        &copy; 2025 NewGloble | Contacto: contacto@example.com
    </footer>

</body>

</html>