<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>NewGloble</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header>
        <div class="header-center">
            <a class="return-btn" href="./index.html"><h1>NewGloble 🌎</h1></a>
        </div>
        <nav aria-label="User menu">
            <button class="menu-btn" aria-haspopup="true" aria-expanded="false">My account ⌄</button>
            <div class="dropdown-menu" role="menu">
                <a href="#">Profile</a>
                <a href="#">Configuration</a>
                <a href="#">Log out</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="buttons">
            <div class="button-container">
                <a href="./daily.html"><button type="button">Daily mode 🌎 </button></a>
                <p>Try to guess daily country with limited attempts! For each attempt, a hint will be showed.</p>
            </div>
            <div class="button-container">
                <a href="./random.html"><button type="button">Infinite mode 🌎 </button></a>
                <p>Same as daily mode.</p>
            </div>
        </section>
    </main>

    <footer>
        &copy; 2025 NewGloble | Contacto: ñoble@gmail.com
    </footer>
    
    <script type="module" src="../static/js/new_globle.js" defer></script>
</body>
</html>