<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>NewGloble</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header>
        <div class="header-center">
            <a class="return-btn" href="./index.html"><h1>NewGloble 🌎</h1></a>
        </div>
        <nav aria-label="Menú de usuario">
            <button class="menu-btn" aria-haspopup="true" aria-expanded="false">Mi Cuenta ⌄</button>
            <div class="dropdown-menu" role="menu">
                <a href="#">Perfil</a>
                <a href="#">Configuración</a>
                <a href="#">Cerrar sesión</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="buttons">
            <div class="button-container">
                <a href="./diario.html"><button type="button" onclick="getDailyCountry()">Modo diario 🌎 </button></a>
                <p>Intenta adivinar el pais diario con una cantidad limitada de intento! <br> A medida que gastes
                    intentos, se iran revelando pistas que te ayuden a dar con un el pais.</p>
            </div>
            <div class="button-container">
                <a href="./infinito.html"><button type="button" onclick="getRandomCountry()">Modo infinito 🌎 </button></a>
                <p>Igual al modo diario.</p>
            </div>
        </section>
    </main>

    <footer>
        &copy; 2025 NewGloble | Contacto: ñoble@gmail.com
    </footer>
    
    <script type="module" src="../static/js/script.js" defer></script>
</body>
</html>