<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modo infinito</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <div class="header-center">
            <a class="return-btn" href="./index.html"><h1>NewGloble 🌎</h1></a>
        </div>
        <nav aria-label="Menú de usuario">
            <button class="menu-btn return-btn" aria-haspopup="true" aria-expanded="false"><a href="./index.html">Volver al inicio</a></button>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        &copy; 2025 NewGloble | Contacto: ñoble@gmail.com
    </footer>
    
    <script type="module" src="../static/js/script.js"></script>
</body>
</html>